@media (max-width: 1024px) {
  nav .callus {
    width: 21%;
  }

  .hero > .hero_text > p:nth-child(1) {
    font-size: 24px;
  }

  .hero > .hero_text > h1:nth-child(2) {
    font-size: 3em;
  }

  .hero > .hero_text > p:nth-child(3) {
    width: 68%;
    font-size: 14px;
  }

  .hero_buttons p:nth-child(1){
    font-size: 16px; 
}
  .hero_buttons p:nth-child(2){
    font-size: 16px; 
}

}
