@media (max-width: 1024px) {
  nav .callus {
    width: 21%;
  }

  .hero > .hero_text > p:nth-child(1) {
    font-size: 24px;
  }

  .hero > .hero_text > h1:nth-child(2) {
    font-size: 3em;
  }

  .hero > .hero_text > p:nth-child(3) {
    width: 68%;
    font-size: 14px;
  }

  .hero_buttons p:nth-child(1) {
    font-size: 16px;
  }
  .hero_buttons p:nth-child(2) {
    font-size: 16px;
  }

  .firstScroll {
    height: 250vh;
  }

  .first_scroll_cont {
    height: 215vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .first_scroll_cont .first_cont {
    width: 80%;
    order: 2;
  }

  .first_scroll_cont .first_cont:nth-child(2) {
    width: 80%;
    order: 1;
  }

  .first_scroll_cont .first_cont:nth-child(2) .front img {
    height: 22vh;
    width: 28vw;
  }

  .front {
    height: 23vh;
    width: 29vw;
    bottom: 5vh;
  }

  .secondScroll {
    height: 130vh;
    background-size: 100% 130vh;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
  }

  .secondScroll .number {
    height: 80vh;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    justify-content: center;
    top: 10vh;
  }
  .secondScroll .numbCard {
    margin: 0;
    width: 25vw;
  }

  /* Third Scroll Responsive  */

  .thirdScroll .third_Scroll_Cont .third_card img {
    height: 55px;
    width: 55px;
  }

  .thirdScroll .third_Scroll_Cont .third_card h3 {
    font-size: 1.4em;
  }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(3) {
    font-size: 16px;
  }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(4) {
    font-size: 16px;
  }

  /* Fourth Scrooll will Start from here  */

  .fourthScroll .top .fourthScrollright p:nth-child(1) {
    font-size: 19px;
  }

  .fourthScroll .top .fourthScrollright h3:nth-child(2) {
    width: 70%;
  }

  .fourthScroll .top .fourthScrollright p:nth-child(3) {
    width: 80%;
  }
  .fourthScroll .top .fourthScrollright .fours_card {
    width: 95%;
  }

  .fourthScroll .top .fourthScrollright .fours_card .left li {
    font-size: 15px;
  }
  .fourthScroll .top .fourthScrollright .fours_card {
    width: 85%;
  }
  .fourthScroll .top .fourthScrollright .progress h5:nth-child(1) {
    font-size: 1.2em;
  }
  .fourthScroll .top .fourthScrollright .progress h5:nth-child(3) {
    font-size: 1.2em;
  }
  .fourthScroll .top .fourthScrollright .progress h5:nth-child(5) {
    font-size: 1.2em;
  }

  /* Fifth Scroll Section */

  .fifthScrollmain {
    height: 250vh;
  }
  .fifthScroll h4:nth-child(2) {
    font-size: 2.5em;
  }

  .fifthScroll p:nth-child(3) {
    font-size: 17px;
  }

  .fifthScroll .fifth_Card .fifthCards h5 {
    font-size: 1.2em;
  }

  .fifthScrollmain .fifthForm {
    height: 175vh;
  }

  .fifthScrollmain .fifthForm .fifth_form_Center {
    flex-direction: column;
    height: 150vh;
  }
  .fifthForm .fifth_form_Center .fifthLeft {
    order: 1;
    width: 100%;
    height: 50%;
  }

  .fifthForm .fifth_form_Center .fifthLeft > input {
    height: 8vh;
    width: 70%;
  }
  .fifthForm .fifth_form_Center .fifthLeft .Service_date {
    height: 25vh;
    width: 70%;
  }
  

  .fifthForm .fifth_form_Center .fifthRight {
    order: -1;
    order: -1;
    width: 100%;
    height: 50%;
    align-items: center;
  }

  .fifth_form_Center .fifthRight > .fifth_bootom_right {
    align-items: center;
  }
}
