@media (max-width: 1280px) {
  nav .callus {
    width: 21%;
  }

  nav .callus i {
    font-size: 40px;
  }

  .hero > .hero_text > h1:nth-child(2) {
    font-size: 4em;
  }

  /* Third Scroll Responsive  */
  .thirdScroll .third_Scroll_Cont .third_card h3 {
    font-size: 1.5em;
  }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(3) {
    font-size: 17px;
  }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(4) {
    font-size: 17px;
  }

  /* Fourth Scrooll will Start from here  */

  .fourthScroll .top .fourthScrollright p:nth-child(1) {
    font-size: 20px;
  }

  .fourthScroll .top .fourthScrollright h3:nth-child(2) {
    font-size: 2.2em;
  }

  .fourthScroll .top .fourthScrollright p:nth-child(3) {
    font-size: 15px;
  }
  .fourthScroll .top .fourthScrollright .fours_card h5 {
    font-size: 1.4em;
  }

  .fourthScroll .top .fourthScrollright .fours_card .left li {
    font-size: 15px;
  }
.fourthScroll .top .fourthScrollright .fours_card {
    width: 85%;
}
  .fourthScroll .top .fourthScrollright .progress h5:nth-child(1) {
    font-size: 1.3em;
}
  .fourthScroll .top .fourthScrollright .progress h5:nth-child(3) {
    font-size: 1.3em;
}
  .fourthScroll .top .fourthScrollright .progress h5:nth-child(5) {
    font-size: 1.3em;
}
}
