@media (max-width: 320px) {
  nav {
    width: 85%;
  }

  nav ul {
    width: 63%;
    font-size: 5px;
    height: 45px;
  }

  nav .callus p {
    font-size: 7px;
  }

  .hero {
    height: 95vh;
    background-size: 100% 95vh;
  }
  .hero > .hero_text {
    height: 410px;
  }

  .card img {
    height: 60px;
    width: 60px;
  }
  .card h4 {
    font-size: 20px;
  }
  .card p {
    width: 85%;
    font-size: 16px;
  }

  .firstScroll {
    height: 350vh;
  }

  .first_scroll_cont .first_cont {
    height: 146vh;
  }

  .first_cont p:nth-child(6) {
    font-size: 14px;
  }

  .first_cont p:nth-child(6)::before {
    height: 75px;
  }

  .secondScroll .numbCard {
    width: 60vw;
  }

  /* Third Scroll Responsive  */

  .thirdScroll .thirdScroll_top h3 {
    font-size: 1.8em;
  }

  .thirdScroll .thirdScroll_top p:last-child {
    font-size: 14px;
    width: 90%;
  }

  .thirdScroll .third_Scroll_Cont .third_card {
    width: 85vw;
  }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(3) {
    width: 70vw;
  }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(4) {
    width: 70vw;
  }
}
