@media (max-width: 375px) {
  /* Third Scroll Responsive  */

  .thirdScroll .thirdScroll_top p:first-child {
    font-size: 20px;
  }

  .thirdScroll .third_Scroll_Cont .third_card {
    width: 70vw;
  }

  .thirdScroll .thirdScroll_top h3 {
    font-size: 2em;
  }

  .thirdScroll .thirdScroll_top p:last-child {
    font-size: 15px;
    width: 80%;
  }

  /* Fourth Scrooll will Start from here  */

  .fourthScroll .top .fourthScrollright h3:nth-child(2) {
    width: 100%;
  }

  .fourthScroll .top .fourthScrollright p:nth-child(3) {
    width: 100%;
  }

  .after_fourthScroll h4 {
    width: 90%;
  }

  .after_fourthScroll p {
    width: 75%;
    text-align: justify;
  }
}
