@media (max-width: 450px) {
  header {
    height: 45px;
  }
  header img {
    height: 15px;
    width: 70px;
  }

  nav {
    height: 45px;
  }

  nav ul {
    width: 63%;
    font-size: 7px;
  }

  nav ul li {
    height: 45px;
  }

  nav .callus {
    width: 30%;
  }

  nav .callus i {
    font-size: 20px;
  }

  nav .callus p {
    font-size: 8px;
  }
  .hero > .hero_text {
    height: 420px;
    justify-content: space-evenly;
  }

  .hero > .hero_text > p:nth-child(1) {
    font-size: 20px;
  }
  .hero > .hero_text > h1:nth-child(2) {
    font-size: 2.5em;
    width: 85%;
    text-align: center;
  }

  .hero_text .hero_buttons {
    width: 90%;
    height: 35px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .firstScroll .threeCards {
    top: 0vh;
  }

  .firstScroll {
    height: 340vh;
  }

  .front {
    height: 23vh;
    width: 37vw;
    bottom: 5vh;
  }

  .first_scroll_cont {
    height: 234vh;
  }
  .first_cont h2:nth-child(2) {
    font-size: 2.5em;
  }

  .first_cont p:nth-child(3) {
    font-size: 15px;
  }

  .first_cont p:nth-child(4) {
    font-size: 15px;
  }

  .first_cont p:nth-child(6) {
    font-size: 16px;
  }

  .first_cont p:nth-child(6)::before {
    height: 80px;
  }

  .first_cont p:nth-child(7) {
    line-height: 46px;
    font-size: 15px;
  }

  .first_cont .first_cards {
    grid-template-columns: 80%;
  }

  .first_cards .first_cont_cards {
    width: 60vw;
  }

  .first_cards .first_cont_cards .cont_cards {
    width: 50vw;
  }

  .first_scroll_cont .first_cont {
    height: 130586c78vh;
  }

  .first_cards .first_cont_cards .cont_cards p:nth-child(2) {
    width: 50vw;
  }

  .first_cont .first_cards {
    height: 40vh;
    gap: 40px;
    justify-content: center;
  }

  .first_scroll_cont .first_cont:nth-child(2) .front img {
    height: 23vh;
    width: 35vw;
  }
}
