@media (max-width: 590px) {
  header {
    height: 65px;
  }
  header img {
    height: 20px;
    width: 103px;
  }

  nav {
    width: 82%;
  }

  nav ul {
    width: 62%;
    font-size: 10px;
  }

  nav ul li {
    height: 65px;
  }

  nav .callus {
    width: 27%;
  }

  nav .callus i {
    font-size: 25px;
  }

  nav .callus p {
    font-size: 10px;
  }

  .hero > .hero_text {
    height: 220px;
  }

  .hero > .hero_text > p:nth-child(1) {
    font-size: 18px;
  }

  .hero > .hero_text > p:nth-child(3) {
    width: 70%;
    font-size: 12px;
  }

  .hero_text .hero_buttons {
    width: 55%;
    height: 35px;
  }
  .hero_buttons p:nth-child(1) {
    font-size: 9px;
    line-height: 35px;
  }
  .hero_buttons p:nth-child(2) {
    font-size: 9px;
    line-height: 35px;
  }

  .firstScroll .threeCards {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card img {
    height: 70px;
    width: 70px;
  }

  .card h4 {
    font-size: 21px;
  }

  .card p {
    width: 90%;
  }

  .threeCards > .card:nth-child(1),
  .threeCards > .card:nth-child(2),
  .threeCards > .card:nth-child(3) {
    width: 90%;
    height: 34vh;
  }
  .firstScroll {
    height: 306vh;
  }
  .first_scroll_cont .first_cont:nth-child(2) .back {
    height: 45vh;
    position: absolute;
    top: auto;
    bottom: 0px;
  }

  .first_scroll_cont .first_cont {
    height: 125vh;
  }

  .first_cont p:nth-child(1) {
    font-size: 18px;
  }
  .first_cont h2:nth-child(2) {
    font-size: 2.5em;
  }

  .first_cont p:nth-child(3) {
    font-size: 16px;
  }
  .first_cont p:nth-child(4) {
    font-size: 16px;
  }
  .first_cont p:nth-child(6) {
    font-size: 18px;
  }

  .secondScroll .numbCard {
    width: 40vw;
  }

  /* Third Scroll Responsive  */

  .thirdScroll .thirdScroll_top h3 {
    font-size: 2em;
    text-align: center;
  }

  .thirdScroll .thirdScroll_top {
    height: 60vh;
  }

  .thirdScroll .thirdScroll_top p:first-child {
    font-size: 26px;
  }

  .thirdScroll .thirdScroll_top h3 {
    font-size: 2.2em;
  }

  .thirdScroll .thirdScroll_top p:last-child {
    font-size: 16px;
  }

  .thirdScroll .third_Scroll_Cont {
    grid-template-columns: auto auto;
  }

  .thirdScroll .third_Scroll_Cont .third_card {
    width: 41vw;
  }

      .thirdScroll .third_Scroll_Cont .third_card h3 {
        font-size: 1.2em;
    }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(3) {
    font-size: 13px;
    width: 30vw;
  }
  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(4) {
        font-size: 13px;
    }
}
