@media (max-width: 590px) {
  header {
    height: 65px;
  }
  header img {
    height: 20px;
    width: 103px;
  }

  nav {
    width: 82%;
  }

  nav ul {
    width: 62%;
    font-size: 10px;
  }

  nav ul li {
    height: 65px;
  }

  nav .callus {
    width: 27%;
  }

  nav .callus i {
    font-size: 25px;
  }

  nav .callus p {
    font-size: 10px;
  }

  .hero > .hero_text {
    height: 220px;
  }

  .hero > .hero_text > p:nth-child(1) {
    font-size: 18px;
  }

  .hero > .hero_text > p:nth-child(3) {
    width: 70%;
    font-size: 12px;
  }

  .hero_text .hero_buttons {
    width: 55%;
    height: 35px;
  }
  .hero_buttons p:nth-child(1) {
    font-size: 9px;
    line-height: 35px;
  }
  .hero_buttons p:nth-child(2) {
    font-size: 9px;
    line-height: 35px;
  }

  .firstScroll .threeCards {
            height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card img {
    height: 70px;
    width: 70px;
  }

  .card h4 {
    font-size: 21px;
  }

  .card p {
    width: 90%;
  }

  .threeCards > .card:nth-child(1),
  .threeCards > .card:nth-child(2),
  .threeCards > .card:nth-child(3) {
   width: 90%;
        height: 34vh;
    }
}
