@media (max-width: 838px) {
    header{
        height: 65px;
    }
  header img {
        height: 36px;
        width: 120px;
  }
nav{
    height: 65px;
  }
  nav ul {
    width: 60%;
    height: 65px;
    font-size: 13px;
  }

  nav .callus {
    width: 25%;
  }

  nav ul li{
    height: 65px;
  }

  nav .callus i {
    font-size: 32px;
  }

  nav .callus p{
    font-size: 12px;
  }
  
  
  .hero > .hero_text > p:nth-child(1) {
    font-size: 20px;
  }
  
  .hero > .hero_text > h1:nth-child(2) {
    font-size: 2.5em;
  }

  .hero > .hero_text > p:nth-child(3) {
    width: 65%;
  }

   .hero_buttons p:nth-child(1){
    font-size: 13px; 
}
  .hero_buttons p:nth-child(2){
    font-size: 13px; 
}
}
