@media (max-width: 838px) {
  header {
    height: 65px;
  }
  header img {
    height: 36px;
    width: 120px;
  }
  nav {
    height: 65px;
  }
  nav ul {
    width: 60%;
    height: 65px;
    font-size: 13px;
  }

  nav .callus {
    width: 25%;
  }

  nav ul li {
    height: 65px;
  }

  nav .callus i {
    font-size: 32px;
  }

  nav .callus p {
    font-size: 12px;
  }

  .hero > .hero_text > p:nth-child(1) {
    font-size: 20px;
  }

  .hero > .hero_text > h1:nth-child(2) {
    font-size: 2.5em;
  }

  .hero > .hero_text > p:nth-child(3) {
    width: 65%;
  }

  .hero_buttons p:nth-child(1) {
    font-size: 13px;
  }
  .hero_buttons p:nth-child(2) {
    font-size: 13px;
  }

  /* .card img {
    height: 70px;
    width: 70px;
  }

  .card h4 {
    font-size: 21px;
  }*/

  .card p {
    width: 33vw;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }

  .firstScroll .threeCards {
    width: 100%;
    position: absolute;
    top: -15vh;

    display: grid;
    grid-template-columns: 45vw 45vw;
    gap: 20px;
  }

  .threeCards > .card:nth-child(1) {
    width: 45vw;
  }
  .threeCards > .card:nth-child(2) {
    width: 45vw;
  }

  .threeCards > .card:nth-child(3) {
    grid-column: span 2;

    height: 40vh;
    width: 100%;

    background-color: #2a4359;

    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .firstScroll {
    height: 291vh;
  }

  .secondScroll {
    height: 175vh;
    background-size: 100% 175vh;
  }

  .secondScroll .number {
    grid-template-columns: auto;
  }
  .secondScroll .numbCard {
    width: 35vw;
  }

  /* Third Scroll Responsive  */

  .thirdScroll {
    height: 200vh;
    top: 1vh;
  }

  .thirdScroll .thirdScroll_top {
    height: 60vh;
  }

  .thirdScroll .thirdScroll_top p:first-child {
    font-size: 26px;
  }

  .thirdScroll .thirdScroll_top h3 {
    font-size: 2.2em;
  }

  .thirdScroll .thirdScroll_top p:last-child {
    font-size: 17px;
  }

  .thirdScroll .third_Scroll_Cont {
    grid-template-columns: auto auto;
  }

  .thirdScroll .third_Scroll_Cont .third_card {
    width: 41vw;
  }

  .thirdScroll .third_Scroll_Cont .third_card P:nth-child(3) {
    width: 30vw;
  }

  /* Fourth Scrooll will Start from here  */

  .fourthScroll .top {
    flex-direction: column;
    height: 215vh;
  }
  .fourthScroll .top .fourthScrollleft {
    height: 110vh;
  }

  .fourthScroll .top .fourthScrollright {
    width: 90%;
  }

  .fourthScroll .top .fourthScrollright h3:nth-child(2) {
    width: 80%;
    font-size: 2em;
  }
  .fourthScroll .top .fourthScrollright .fours_card {
    width: 90%;
  }

  .after_fourthScroll h4 {
    font-size: 2em;
  }

  .after_fourthScroll p:nth-child(3) {
    width: 30%;
    font-size: 16px;
  }

  /* Fifth Scroll */

  .fifthScroll {
    height: 180vh;
  }

  .fifthScroll h4:nth-child(2) {
    font-size: 2em;
    width: 60%;
    text-align: center;
  }

  .fifthScroll p:nth-child(3) {
    width: 70%;
  }
}
