* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 90px;
  width: 100%;
  background-color: #2a4359;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  height: 65px;
  width: 210px;
  object-fit: cover;
}

nav {
  height: 90px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
nav > ul {
  height: 90px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > ul > li {
  list-style: none;
  width: 20%;
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: color 0.3s linear;
}

.dropdown {
  width: 100%;
  height: auto;
  display: none;
  background-color: #253a4d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 100%;
  left: 0px;
  margin: 0 4px 0 4px;
  transition: all 0.5s linear;
}

nav > ul > li:hover .dropdown {
  display: block;
}

.dropdown > li {
  height: 30px;
  text-align: center;
  list-style: none;
  transition: color 0.3s linear;
}

.dropdown > li:hover a {
  color: #d9a441;
}
nav > ul > li:hover > a {
  color: #d9a441;
}

nav ul > li > a {
  color: white;
  text-decoration: none;
}

nav .callus {
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .callus i {
  font-size: 50px;
}

main {
  height: 9000px;
  width: 100%;
}

/*from here Hero section started */
.hero {
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(#2a43598a, #2a43598a), url(./mental.avif);
  background-size: 100% 90vh;
  object-fit: cover;
  animation-name: img-slider;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Here this code is for image slider by using only css */

@keyframes img-slider {
  0% {
    background-image: linear-gradient(#2a43598a, #2a43598a), url(./patent.avif);
  }
  25% {
    background-image: linear-gradient(#2a43598a, #2a43598a), url(./therpy.avif);
  }
  50% {
    background-image: linear-gradient(#2a43598a, #2a43598a), url(./th.jpg);
  }
  75% {
    background-image: linear-gradient(#2a43598a, #2a43598a), url(./mental.avif);
  }
  100% {
    background-image: linear-gradient(#2a43598a, #2a43598a), url(./family.avif);
  }
}

/* Text inside hte Hero Section */

.hero > .hero_text {
  height: 350px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero > .hero_text > p:nth-child(1) {
  color: white;
  font-family: serif;
  font-size: 27px;
}

.hero > .hero_text > h1:nth-child(2) {
  color: white;
  font-size: 4.5em;
}

.hero > .hero_text > h1:nth-child(2) span {
  color: #d9a441;
}

.hero > .hero_text > p:nth-child(3) {
  color: white;
  width: 67%;
  font-size: 18px;
}

.hero_text .hero_buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 50px;
  color: white;
}

.hero_buttons p:nth-child(1) {
  width: 45%;
  justify-content: center;
  line-height: 50px;
  text-align: center;
  background-color: #d9a441;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #d9a441;
  font-size: 18px;
  font-weight: 600;
}

.hero_buttons p:nth-child(1):hover {
  background-color: transparent;
}

.hero_buttons p:nth-child(2) {
  width: 45%;
  justify-content: center;
  line-height: 50px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #d9a441;
  font-size: 18px;
  font-weight: 600;
}

.hero_buttons p:nth-child(2):hover {
  background-color: #d9a441;
}

.firstScroll {
  height: 150vh;
  width: 100%;
  /* background-color: black; */
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.firstScroll .threeCards {
  height: 40vh;
  width: 100%;
  /* background-color: blue; */
  position: absolute;
  top: -15vh;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  justify-content: space-evenly;
}

.threeCards > .card:nth-child(1) {
  height: 40vh;
  width: 30vw;
  background-color: #d9a441;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.threeCards > .card:nth-child(2) {
  height: 40vh;
  width: 30vw;
  background-color: #2a4359;
  border-radius: 40px;
}
.threeCards > .card:nth-child(3) {
  height: 40vh;
  width: 30vw;
  background-color: #2a4359;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.card img {
  height: 80px;
  width: 80px;
  transition: all 0.2s linear;
}

.card img:hover {
  transform: scale(1.2);
}

.card h4 {
  font-size: 24px;
}
.card p {
  font-size: 18px;
  width: 20vw;
  text-align: center;
  font-weight: 500;
}

.first_scroll_cont {
  height: 110vh;
  width: 100%;
  /* background-color: grey; */
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.first_scroll_cont .first_cont:nth-child(1) {
  align-items: start;
  justify-content: space-evenly;
  margin: 0 0 0 20px;
}

.first_cont p:nth-child(1) {
  font-size: 25px;
  font-family: serif;
  color: #d9a442;
}
.first_cont h2:nth-child(2) {
  font-size: 3em;
}
.first_cont p:nth-child(3) {
  font-size: 18px;
  color: #858585;
}
.first_cont p:nth-child(4) {
  font-size: 18px;
  color: #858585;
}
.first_cont .first_cards {
  display: grid;
  width: 50vw;
  height: 30vh;
  align-items: center;
  grid-template-columns: 50% 50%;
}

.first_cards .first_cont_cards {
  display: flex;
  width: 20vw;
  height: 15vh;
}

.first_cards .first_cont_cards i {
  font-size: 2.5em;
  color: #d9a542;
}

.first_cards .first_cont_cards .cont_cards {
  margin: 0 0 0 4px;
  width: 15vw;
  height: 15vh;
}

.first_cards .first_cont_cards .cont_cards h4:nth-child(1) {
  margin: 0 6px 0 0;
}

.first_cards .first_cont_cards .cont_cards p:nth-child(2) {
  width: 20vw;
  color: #858585;
}

.first_cont p:nth-child(6) {
  font-size: 23px;
  position: relative;
  overflow: hidden;
  padding: 18px 0 0 28px; /* add top padding to clear the border-top line */
  height: 94px;
  font-family: fangsong;
}

.first_cont p:nth-child(6)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 47px;
  height: 94px;
  border-left: 4px solid #c99a3b;
  border-top: 1px solid #c99a3b;
  border-top-left-radius: 50px;
}

.first_cont p:nth-child(7) {
  width: 45%;
  justify-content: center;
  line-height: 50px;
  text-align: center;
  background-color: #d9a441;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #d9a441;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 20px 0 0 0;
}

.first_cont p:nth-child(7):hover {
  background-color: transparent;
  color: black;
}
.first_scroll_cont .first_cont {
  height: 100vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.first_scroll_cont .first_cont:nth-child(2) {
  height: 100vh;
  width: 45%;
  position: relative;
}
.first_scroll_cont .first_cont:nth-child(2) .back {
  height: 90vh;
  width: 90%;
  background-color: #2a4359;
  position: absolute;
  top: 45px;
  right: 45px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.first_scroll_cont .first_cont:nth-child(2) .back img:nth-child(1) {
  height: 90vh;
  width: 100%;
  position: absolute;
  bottom: 45px;
  left: 45px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 10px solid white;
}

.front {
  height: 21vh;
  width: 21vw;
  background-color: white;
  position: absolute;
  bottom: 3vh;
  left: -3vw;
  border-radius: 40px;
}
.first_scroll_cont .first_cont:nth-child(2) .front img {
  height: 20vh;
  width: 20vw;
  position: absolute;
  bottom: -1vh;
  left: 0vw;
  z-index: 1;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  /* border-top: 5px solid white; */
}

/* This is the Css of the Second Scroll */

.secondScroll {
  height: 80vh;
  width: 100%;
  background-image:
    linear-gradient(to bottom, #43728fa9, #43728fa9),
    url("./Hero-BG-1-1536x1024.jpg");
  background-size: 100% 80vh;
  display: flex;
  justify-content: center;
}

.secondScroll .number {
  height: 60vh;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.secondScroll .numbCard {
  height: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 13vh 0 0 0;
}

.secondScroll .numbCard i {
  font-size: 4em;
  margin: 0 0 12px 0;
}

.secondScroll .numbCard h2 {
  font-size: 2.5em;
  color: white;
  letter-spacing: -4px;
  margin: 0 0 12px 0;
}

.secondScroll .numbCard h2 span {
  color: #b6b6b6;
}

.secondScroll .numbCard p {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.thirdScroll {
  height: 180vh;
  width: 98%;
  background-color: white;
  margin: 0 1% 0 1%;
  border-radius: 20px;
  position: relative;
  bottom: 15vh;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.thirdScroll .thirdScroll_top {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 0 0 5vh 0;
}

.thirdScroll .thirdScroll_top p:first-child {
  font-size: 33px;
  font-family: serif;
  color: #d9a441;
}
.thirdScroll .thirdScroll_top h3 {
  font-size: 3em;
  margin: 20px 0 20px 0;
}
.thirdScroll .thirdScroll_top p:last-child {
  font-size: 20px;
  width: 70%;
  text-align: center;
}

.thirdScroll .third_Scroll_Cont {
  height: 130vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3vw;
  justify-content: center;
  align-content: center;
}
.thirdScroll .third_Scroll_Cont .third_card {
  height: 45vh;
  width: 25vw;
  display: flex;
  border: 1px solid #d9a441;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s linear;
}

.thirdScroll .third_Scroll_Cont .third_card:hover {
  border: 1px solid black;
}

.thirdScroll .third_Scroll_Cont .third_card:nth-child(1) {
  border: 1px solid black;

  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.thirdScroll .third_Scroll_Cont .third_card:nth-child(1) p:last-child {
  color: #d9a441;
}
.thirdScroll .third_Scroll_Cont .third_card:nth-child(1) p:last-child:hover {
  color: black;
}

.thirdScroll .third_Scroll_Cont .third_card:nth-child(1):hover {
  border: 1px solid #d9a441;
}
.thirdScroll .third_Scroll_Cont .third_card:nth-child(2) {
  border-radius: 40px;
}
.thirdScroll .third_Scroll_Cont .third_card:nth-child(3) {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.thirdScroll .third_Scroll_Cont .third_card:nth-child(4) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.thirdScroll .third_Scroll_Cont .third_card:nth-child(5) {
  border-radius: 40px;
}
.thirdScroll .third_Scroll_Cont .third_card:nth-child(6) {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.thirdScroll .third_Scroll_Cont .third_card img {
  height: 60px;
  width: 60px;
  transition: all 0.2s linear;
}

.thirdScroll .third_Scroll_Cont .third_card img:hover {
  transform: scale(1.2);
}

.thirdScroll .third_Scroll_Cont .third_card h3 {
  font-size: 2em;
}

.thirdScroll .third_Scroll_Cont .third_card P:nth-child(3) {
  font-size: 18px;
  width: 20vw;
  text-align: center;
  font-weight: 600;
  color: #909090;
}
.thirdScroll .third_Scroll_Cont .third_card P:nth-child(4) {
  font-size: 18px;
  width: 20vw;
  font-weight: 400;
  transition: all 0.2s linear;
}

.thirdScroll .third_Scroll_Cont .third_card P:nth-child(4):hover {
  color: #d9a441;
}

.fourthScroll {
  height: 150vh;
  width: 100%;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fourthScroll .top {
  width: 100%;
  height: 90vh;
  /* background-color: black; */
  display: flex;
}

.fourthScroll .top .fourthScrollleft {
  height: 90vh;
  width: 45%;
  display: flex;
  align-items: center;
}

.fourthScroll .top .fourthScrollleft .image {
  background-color: #2a4359;
  height: 75vh;
  width: 70%;
  border-radius: 40px;
  position: relative;
  left: 4vw;
}
.fourthScroll .top .fourthScrollleft img {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: absolute;
  bottom: 5vh;
  right: 2vw;
  border: 8px solid white;
}

.fourthScroll .top .fourthScrollleft img:nth-child(2) {
  height: 25vh;
  width: 20vw;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;

  border-bottom-left-radius: 0px;
  position: absolute;
  top: 55vh;
  left: 18vw;
}

.fourthScroll .top .fourthScrollright {
  height: 90vh;
  width: 55%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fourthScroll .top .fourthScrollright p:nth-child(1) {
  font-family: serif;
  font-size: 22px;
  color: #d9a441;
}

.fourthScroll .top .fourthScrollright h3:nth-child(2) {
  font-size: 2.5em;
  width: 60%;
}

.fourthScroll .top .fourthScrollright p:nth-child(3) {
  font-family: serif;
  font-size: 16px;
  width: 70%;
}

.fourthScroll .top .fourthScrollright .fours_card {
  height: 22vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.fourthScroll .top .fourthScrollright .fours_card .left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fourthScroll .top .fourthScrollright .fours_card h5 {
  font-size: 1.5em;
}
.fourthScroll .top .fourthScrollright .fours_card .left li {
  list-style-type: none;
  margin: 5px 0px;
}

.fourthScroll .top .fourthScrollright .progress {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fourthScroll .top .fourthScrollright .progress h5:nth-child(1) {
  font-size: 1.5em;
}

.fourthScroll .top .fourthScrollright .progress div {
  height: 1.8vh;
  width: 80%;
  /* border: 1px solid #2a4359; */
  background-color: #2a4359;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fourthScroll .top .fourthScrollright .progress div:nth-child(2):after {
  content: "";
  height: 1.8vh;
  width: 92%;
  background-color: #d9a441;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
}
.fourthScroll .top .fourthScrollright .progress h5:nth-child(3) {
  font-size: 1.5em;
}
.fourthScroll .top .fourthScrollright .progress div:nth-child(4):after {
  content: "";
  height: 1.8vh;
  width: 98%;
  background-color: #d9a441;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
}
.fourthScroll .top .fourthScrollright .progress h5:nth-child(5) {
  font-size: 1.5em;
}
.fourthScroll .top .fourthScrollright .progress div:nth-child(6):after {
  content: "";
  height: 1.8vh;
  width: 90%;
  background-color: #d9a441;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
}

.fourthScroll .bottom {
  width: 100%;
  height: 45vh;
  /* background-color: black; */
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 0 3vw;

  justify-content: center;
}

.fourthScroll .bottom .cards {
  height: 45vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fourthScroll .bottom .cards .cards_top {
  height: 35vh;
  width: 100%;
  background-color: #2a4359;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fourthScroll .bottom .cards:nth-child(1) .cards_top {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.fourthScroll .bottom .cards:nth-child(2) .cards_top {
  border-radius: 40px;
}
.fourthScroll .bottom .cards:nth-child(3) .cards_top {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.fourthScroll .bottom .cards .cards_top i {
  font-size: 5em;
  color: #d9a441;
}

.fourthScroll .bottom .cards .cards_top p {
  width: 70%;
  color: white;
}

.fourthScroll .bottom .cards .cards_bottom {
  height: 10vh;
  width: 100%;
  position: relative;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourthScroll .bottom .cards .cards_bottom img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.fourthScroll .bottom .cards .cards_bottom h6 {
  font-size: 1em;
}

.fourthScroll .bottom .cards .cards_bottom p {
  color: #d9a441;
}

.after_fourthScroll {
  height: 60vh;
  width: 100%;
  background-image:
    linear-gradient(to bottom, #43728fa9, #43728fa9),
    url(./Why-Choose-Us-Image-2-1536x1024.jpg);
  background-size: 100% 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 0 0;
}

.after_fourthScroll h4 {
  font-size: 2.5em;
  width: 60%;
  text-align: center;
  color: white;
}

.after_fourthScroll h4 span {
  color: #d9a441;
}

.after_fourthScroll p {
  width: 40%;
  font-size: 13px;
  color: white;
  padding: 10px 0 0 0;
}

.after_fourthScroll p:nth-child(3) {
  width: 20%;
  height: 45px;
  line-height: 25px;
  text-align: center;
  background-color: #d9a441;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #d9a441;
  font-size: 17px;
  font-weight: 400;
  color: white;
  margin: 20px 0 0 0;
  transition: all 0.2s linear;
}

.after_fourthScroll p:nth-child(3):hover {
  background-color: transparent;
}

.fifthScrollmain {
  height: 200vh;
  width: 100%;
  /* background-color: cyan; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.fifthScroll {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}

.fifthScroll p:nth-child(1) {
  font-size: 20px;
  font-style: italic;
  font-family: serif;
  color: #d9a441;
}

.fifthScroll h4:nth-child(2) {
  font-size: 3em;
}

.fifthScroll p:nth-child(3) {
  width: 60%;
  color: #909090;
  font-size: 19px;
  text-align: center;
}
.fifthScroll .fifth_Card {
  height: 32vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.fifthScroll .fifth_Card .fifthCards {
  height: 32vh;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* border: 1px solid black; */
}

.fifthScroll .fifth_Card .fifthCards i {
  font-size: 2em;
  height: 90px;
  width: 90px;
  line-height: 90px;
  border: 1px solid #d9a441;
  border-radius: 10px;
  color: #d9a441;
}

.fifthScroll .fifth_Card .fifthCards p {
  width: 100%;
  font-size: 17px;
}

.fifthScroll .fifth_Card .fifthCards h5 {
  font-size: 1.7em;
  font-weight: 700;
}

.fifthScrollmain .fifthForm {
  height: 120vh;
  width: 98%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20vh;
  border-radius: 60px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fifthScrollmain .fifthForm .fifth_form_Center {
  height: 90vh;
  width: 95%;
  /* background-color: darkviolet; */
  display: flex;
}

.fifthForm .fifth_form_Center .fifthLeft {
  height: 100%;
  width: 50%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fifthForm .fifth_form_Center .fifthLeft label {
  font-size: 1.3em;
  margin: 25px 0 0 0;
  font-weight: 600;
}

.fifthForm .fifth_form_Center .fifthLeft > input {
  height: 8vh;
  width: 90%;
  text-align: left;
  font-size: 1.5em;
  border-radius: 15px;
  border: 1px solid black;
  padding-left: 24px;
}

.fifthForm .fifth_form_Center .fifthLeft p:last-child {
  width: 40%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #3ab2a3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #3ab2a3;
  font-size: 17px;
  font-weight: 400;
  color: white;
  margin: 0 0 20px 0;
  transition: all 0.2s linear;
}

.fifthForm .fifth_form_Center .fifthLeft p:last-child:hover {
  background-color: transparent;
}

.fifthForm .fifth_form_Center .fifthLeft .Service_date {
  height: 25vh;
  width: 100%;
  display: flex;
}

.fifthForm .fifth_form_Center .fifthLeft .Service_date .sections {
  width: 50%;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.fifthLeft .Service_date .sections input,
select {
  height: 8vh;
  width: 90%;
  text-align: left;
  font-size: 1.5em;
  border-radius: 15px;
  border: 1px solid black;
  padding-left: 24px;
}

.fifthForm .fifth_form_Center .fifthRight {
  height: 100%;
  width: 50%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth_form_Center .fifthRight p:nth-child(1) {
  font-size: 25px;
  font-style: italic;
  font-family: serif;
  color: #d9a441;
}

.fifth_form_Center .fifthRight > h5:nth-child(2) {
  font-size: 3em;
}

.fifth_form_Center .fifthRight p:nth-child(3) {
  font-size: 17px;
  width: 75%;
}

.fifth_form_Center .fifthRight > .fifth_bootom_right {
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth_form_Center .fifthRight > .fifth_bootom_right > .data_fifth {
  height: 32%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fifth_form_Center .fifthRight > .fifth_bootom_right > .data_fifth i {
  font-size: 3em;
  color: #d9a441;
}

.fifth_form_Center .fifthRight > .fifth_bootom_right > .data_fifth .int_right {
  height: 100%;
  width: 80%;
}
.fifth_form_Center
  .fifthRight
  > .fifth_bootom_right
  > .data_fifth
  .int_right
  h5 {
  font-size: 1.4em;
  margin: 0 0 10px 0;
}

.fifth_form_Center
  .fifthRight
  > .fifth_bootom_right
  > .data_fifth
  .int_right
  p {
  font-size: 17px;
  font-weight: 600;
  color: #8e8f92;
}
