*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 90px;
    width: 100%;
    background-color: #2a4359;
     display: flex;
    justify-content: space-around;
    align-items: center;

}

header img{
    height: 65px;
    width: 210px;
    object-fit: cover;
}

nav{
    height: 90px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}
nav > ul{
    height: 90px;
    width: 70%;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    width: 20%;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     transition: color 0.3s linear;

}



.dropdown{
    width: 100%;
    height: auto;
   display: none;
    background-color:#253a4d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 100%;
    left: 0px;
    margin: 0 4px 0 4px;
    transition: all .5s linear;
}

nav > ul > li:hover .dropdown{
    display:block ;
}

.dropdown > li {
    height: 30px;
    text-align: center;
    list-style: none;
     transition: color 0.3s linear;
}

.dropdown > li:hover a{
    color: #d9a441;

}
nav > ul > li:hover > a{
    color: #d9a441;

}

nav ul > li > a{
    color: white;
    text-decoration: none;
}

nav .callus{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .callus i{
    font-size: 50px;
}
   